.popup_doctor_notification{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.popup_doctor_notification_content{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 65vh;
    background-color: white;
    border-radius: 2rem;
    color: #0b3b70;
    font-weight: 400;
}

.close_doctor_notification_popup{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    color: #0b3b70;
    font-weight: 700;
}

.notification_content {
    margin-left: 5%;
    margin-top: 1%;
}

.notification_content span{
    font-size: .9rem;
    color: #ffcb08;
}

.notification_description_box {
    display: block;
    margin-top: 20px;
    height: 42vh;
    border-radius: 2rem;
    border: 2px solid #0b3b70;
    margin-right: 5%;
}

.notification_description {
    margin: 5px 25px 5px 25px;
    height: 36vh;
    position: relative;
}

.notification_description p {
    font-size: 0.8rem;
}


.notification_date {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffcb08;
}